<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Tree</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="Container">
    <div class="Home">
    <h1>Generated Binary Search Tree</h1>
    <p><strong>Input:</strong> <span th:text="${input}"></span></p>
    <p><strong>Tree (JSON):</strong></p>
    <pre th:text="${jsonTree}"></pre>
    <a href="/bst/enter-numbers"><button>Create Another Tree</button></a>
    <a href="/bst/previous-trees"><button>View Previous Trees</button></a>
        <a href="/"><button>Home</button></a>
</div>
</div>
</body>
</html>
